:host {
  display: block;
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 1rem;
  height: calc(100vh - 4rem);
  background: #1a3953;
}

h3{
  color: white;
}

.container {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-flow: column;
  flex-wrap: wrap;
}

form{
  width: 100%;
  border: 2px solid #118ab2;
  border-radius: 5px;
  margin: 2rem;
  padding: 1rem;
}

.input-text {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #118ab2;
  border-radius: 5px;
  margin-top: 1rem;
}

.inline-block {
  display: inline-block;
  margin-top: 1rem;
  margin-right: 0.5rem;
}

.button-submit {
  display: block;
  padding: 0.5rem;
  color: white;
  background: #118ab2;
  margin-top: 1rem;
  border: none;
  border-radius: 5px;
}

.button-submit:disabled{
  background: #ccc;
  cursor: not-allowed;
}

.invalid-message {
  color: #d90429;
  font-size: 0.75rem;
}
